body {
    font-family: Arial, sans-serif;
    color: azure;
    background-color: black;
}
.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
}
input[type="button"] {
    width: 109%;
    padding: 10px;
    font-size: 18px;
    background-color:aquamarine;
    color:crimson;
    border: none;
}
input[type="button"]:hover{
    background-color:crimson;
    color:aquamarine;
    font-weight: 900;
}
.message {
    color: red;
}